body{
    background-size:100% 100%;
    background: url("../images/背景图.jpg") no-repeat fixed;

}

.m-padded-tb-mini{
    /*！important用于提高级别，不然无法覆盖它提供的样式*/
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

/*  text  */
.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-tiny{
    padding: 0.3em !important;
}
.m-padded{
    padding: 1em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-b-small{
    padding-bottom: 0.5em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-heavy{
    font-weight: 600 !important;
}
.m-text-small{
    font-size: 12px;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8 !important;
}
/*opacity*/
.m-opacity-mini{
    opacity: 0.9 !important;
}

.m-opacity-tiny{
    opacity: 0.7 !important;
}
.m-opacity-no{
    opacity:1 !important;
}
/*shadow*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,2);
    box-shadow: 0 4px 8px rgba(0,0,0,2);
}
/*position*/
.m-fixed{
    position: fixed!important;
    z-index: 10!important;
}

.m-right-bottom{
    bottom: 300px !important;
    right: 50px  !important;
}
.m-right-top{
    top: 300px !important;
    right: 50px  !important;
}

/*margin*/
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-large{
    margin-top: 2em !important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}
.m-margin-lr-small{
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
.m-margin-lr{
    margin-left: 1em !important;
    margin-right: 1em !important;
}
/*display*/
.m-inline-block{
    display: inline-block !important;
}

/*position*/
.m-right-top{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

/*color*/
.m-color-black{
    color: #333 !important;
}

.m-mobile-show{
    display: none !important;
}

/*container*/
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}



@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .m-mobile-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}
